<header>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-5 medium-3 cell">
        <a class="header__logo" href="{{root}}/index.html">
          <img src="{{root}}/assets/img/fe-logo.png" />
        </a>
      </div>
      <div class="small-7 medium-9 cell text-right">
        <a href="#" data-open="demoModal">Request Demo</a>
        <a href="{{root}}/pricing.html">Pricing</a>
        <a href="https://oursky.com" target="_blank">About Oursky</a>
      </div>
    </div>
  </div>
</header>
